@import "../Common/Styles/Sass/variables.scss";
@import "../Common/Styles/Sass/mixins.scss";

.contactsBlock {
  padding: 30px;
  background-color: $mainBackgroundColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .contactsForm {
      width: 250px;
      padding: 20px;
      display: flex;
      flex-direction: column;

      .input {
        margin-top: 5px
      }

      .textArea {
        margin-top: 5px
      }
    }

    .sendButton {
      width: 100px;
      height: 30px;
      @include text($titleFontFamily, 24px, 1.2, $mainTextColor, 0px);
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sendButton:hover {
      color: $tertiaryTextColor
    }
  }
}