@import "../Common/Styles/Sass/variables.scss";

.skillsBlock {
  min-height: 80vh;
  background-color: $mainBackgroundColor;
  padding: 100px 0;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
    }
  }
}