.mainBlock {
    height: 100vh;
    background-color: #bbb9b9;
}

.greetingsText {
    width: 400px;
    background-color: #343434;
    color: #a397b7;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #343434;
}