$mainTextColor: #E2E2E8;
$secondaryTextColor: rgb(147, 148, 154);
$tertiaryTextColor: #A397B7;
$mainBackgroundColor: rgb(31, 32, 37);
$secondaryBackgroundColor: #343434;
$tertiaryBackgroundColor: #939292;
$titleFontFamily: 'Roboto Mono', monospace;

